{% extends 'shared/base.html' %}
{% block title %}Account{% endblock %}
{% block content %}

    <div class="row h-25 align-items-start">
        <div class="col-md-8 offset-md-2">
            <h3 class="d-flex justify-content-center font-weight-bold" style="color: white;">
                Hello, {{ user }}
            </h3>
        </div>
    </div>

    <div class="modal fade" id="fileUploaderModal" tabindex="-1" role="dialog" aria-labelledby="fileUploaderTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileUploader">Upload sum files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- formularz do uploadowania plikow -->
                <form action="{{ url_for('user_controller.add_file') }}" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="filePath">File</label>
                            <input type="file" name="filePath" class="form-control-file" id="filePath" required>
                        </div>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<div class="modal fade" id="filesViewerModal" tabindex="-1" role="dialog" aria-labelledby="filesViewerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filesViewer">View your uploaded files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- przegladanie zamieszczonych plikow -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="uploadedFileSelect">Your files</label>
                        <select class="custom-select mr-sm-2" id="uploadedFileSelect">
                            <option selected>Choose...</option>
                            {% for file in files %}
                            <option value={{ loop.index }}>{{ file.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="modal fade" id="tasksViewerModal" tabindex="-1" role="dialog" aria-labelledby="tasksViewerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tasksViewer">View your tasks</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- przegladanie zadan  -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tasksSelect">Your tasks</label>
                        <select class="custom-select mr-sm-2" id="tasksSelect">
                          <option selected>Choose...</option>
                          <option value="1">¯\_(ツ)_/¯</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fileInformation"></label>
                        <textarea id="fileInformation" rows="3" readonly>Informacje o zadaniu</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="taskSchedulerModal" tabindex="-1" role="dialog" aria-labelledby="taskSchedulerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskSchedulerTitle">Plan sum tasks</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- formularz do zlecania zadan -->
                <form action="" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="taskName">Task name</label>
                            <input type="text" name="taskName" class="form-control" id="taskName" placeholder="ex. task01" required>
                        </div>
                        <div class="form-group">
                            <label for="fileSelect">Select input file</label>
                            <select class="custom-select mr-sm-2" id="fileSelect">
                              <option selected>Choose...</option>
                              <option value="1">¯\_(ツ)_/¯</option>
                            </select>
                          </div>
                        <div class="form-group">
                            <label for="resolutionSelect">Resolution</label>
                            <select class="custom-select mr-sm-2" id="resolutionSelect">
                              <option selected>Choose...</option>
                              <option value="1">1024x768</option>
                              <option value="2">1280x1024</option>
                              <option value="3">1280x720</option>
                              <option value="4">1280x800</option>
                              <option value="5">1360x768</option>
                              <option value="6">1366x768</option>
                              <option value="7">1440x900</option>
                              <option value="8">1536x864</option>
                              <option value="9">1600x900</option>
                              <option value="10">1680x1050</option>
                              <option value="11">1920x1200</option>
                              <option value="12">1920x1080</option>
                              <option value="13">2560x1080</option>
                              <option value="14">2560x1440</option>
                              <option value="15">3440x1440</option>
                              <option value="15">3840x2160</option>
                            </select>
                          </div>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="sub-menu" class="row">
        <ul class="col-12 list-inline d-flex align-items-center justify-content-center">
            <li><h4><a href="#" data-toggle="modal" data-target="#fileUploaderModal" class="li-options">Upload file</a></h4></li>
            <li><h4><a href="#" data-toggle="modal" data-target="#taskSchedulerModal" class="li-options">Schedule task</a></h4></li>
            <li><h4><a href="#" data-toggle="modal" data-target="#filesViewerModal" class="li-options">View Your files</a></h4></li>
            <li><h4><a href="#" data-toggle="modal" data-target="#tasksViewerModal" class="li-options">View Your tasks</a></h4></li>
        </ul>
    </div>
{% endblock %}