<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Aplikacje internetowe i rozproszone</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main-styles.css') }}">
        <!--favicon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body class="d-flex flex-column">
        <!-- Modal -->
        <!-- logowanie -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalTitle">Sing in</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ url_for('home_controller.login_process') }}" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="ex. admin@gmail.com" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- rejestracja -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalTitle">Sing up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ url_for('home_controller.register_process') }}" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="emailRegister">Email address</label>
                                <input type="email" name="emailRegister" class="form-control" id="emailRegister" aria-describedby="emailHelp" placeholder="Email" required>
                                <small class="form-text text-muted">Your Email will be used as Your login</small>
                            </div>
                            <div class="form-group">
                                <label for="passwordRegister">Password</label>
                                <input type="password" name="passwordRegister" class="form-control" id="passwordRegister" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="conf_password">Confirm Password</label>
                                <input type="password" name="conf_password" class="form-control" id="conf_password" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- error -->
        {% if error %}
        <div class="alert alert-warning text-center" role="alert">
        {{ error }}
        </div>
        {% endif %}
        <!-- NAVBAR DESKTOP/TABLET -->
        <nav class="navbar d-none d-md-flex fixed-top navbar-expand-md navbar-light bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home_controller.index')}}"> 
                    <div style="margin-left: 15px;"><img class="m-1" src="{{ url_for('static',filename='images/bored.png') }}" style="height:45px;width:45px" alt="Home"></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        {% if session['auth_token'] %}
                            <li class="nav-item d-flex align-items-center">
                                <h5>Hi {{ user }}!</h5>
                            </li>
                            <li class="nav-item">
                                <div><a class="nav-link" href="{{ url_for('user_controller.index') }}"><img class="m-1" src="{{ url_for('static',filename='images/user1.png') }}" style="height:45px; width:45px" alt="User"></a></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('home_controller.logout')}}"><img class="m-1" src="{{ url_for('static',filename='images/logout.png') }}" style="height:45px; width:45px" alt="LogOut"></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"> <span class="font-weight-bold">SIGN IN</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal"> <span class="font-weight-bold">SIGN UP</span> </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- NAVBAR MOBILE -->
        <nav class="navbar d-md-none fixed-top navbar-light bg-light">
            {% if session['auth_token'] %}
                <div id="button-mobile" class="container-fluid d-flex justify-content-center h-100">
                    <h5><span style="color: black;">Hi {{ user }}! </span><a href="{{ url_for('home_controller.logout')}}" style="color: white;"> LOGOUT</a></h5>
                </div>
            {% else %}
                <div id="button-mobile" class="container-fluid d-flex justify-content-center h-100" data-toggle="modal" data-target="#loginModal">
                    <h5>TAP TO START</h5>
                </div>
            {% endif %}
        </nav>
        <!-- CONTENT -->
        <div class="container-fluid d-flex flex-column flex-grow-1">
            {% block content %}{% endblock %}
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="container-fluid text-center text-md-left">
                <div class="text-center py-3 w-100" style="background-color: rgb(29, 29, 29);">© {{ year }} Copyright:
                    <a class="p-1" href="http://weka.pwr.edu.pl/"> Studenci z wydzialu ELEKTRONIKI</a>
                </div>
            </div>
        </footer>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


        <!-- Optional JavaScript -->
        <script src="../../static/javascript/MainPageFunctions.js"></script>
        <script src="../../static/javascript/Queue.js"></script>
    </body>
</html>
